In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('../data/stud.csv')
df.shape

(1000, 8)

1. Missing Values --> No missing values
2. Duplicate Values --> No duplicates
3. Data Type -->  5 categorical and 3 numeric type columns
4. Number of unique_values 
5. Statistics of Dataset
6. Various categories in different categorical columns

{'gender': 2,
 'race_ethnicity': 5,
 'parental_level_of_education': 6,
 'lunch': 2,
 'test_preparation_course': 2,
 'math_score': 81,
 'reading_score': 72,
 'writing_score': 77}

Description of Dataset statistics

 	math_score	reading_score	writing_score
count	1000.00000	1000.000000	1000.000000
mean	66.08900	69.169000	68.054000
std	15.16308	14.600192	15.195657
min	0.00000	17.000000	10.000000
25%	57.00000	59.000000	57.750000
50%	66.00000	70.000000	69.000000
75%	77.00000	79.000000	79.000000
max	100.00000	100.000000	100.000000

In [8]:
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [13]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [14]:
unique_values = {}
for column in df.columns:
    unique_values[column] = df[column].nunique()

unique_values

{'gender': 2,
 'race_ethnicity': 5,
 'parental_level_of_education': 6,
 'lunch': 2,
 'test_preparation_course': 2,
 'math_score': 81,
 'reading_score': 72,
 'writing_score': 77}

In [15]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000