In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('../data/stud.csv')
df.shape

(1000, 8)

1. Missing Values --> No missing values
2. Duplicate Values --> No duplicates
3. Data Type -->  5 categorical and 3 numeric type columns
4. Number of unique_values 
5. Statistics of Dataset
6. Various categories in different categorical columns

{'gender': 2,
 'race_ethnicity': 5,
 'parental_level_of_education': 6,
 'lunch': 2,
 'test_preparation_course': 2,
 'math_score': 81,
 'reading_score': 72,
 'writing_score': 77}

Description of Dataset statistics

 	math_score	reading_score	writing_score
count	1000.00000	1000.000000	1000.000000
mean	66.08900	69.169000	68.054000
std	15.16308	14.600192	15.195657
min	0.00000	17.000000	10.000000
25%	57.00000	59.000000	57.750000
50%	66.00000	70.000000	69.000000
75%	77.00000	79.000000	79.000000
max	100.00000	100.000000	100.000000

In [4]:
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [8]:
unique_values = {}
for column in df.columns:
    unique_values[column] = df[column].nunique()

unique_values

{'gender': 2,
 'race_ethnicity': 5,
 'parental_level_of_education': 6,
 'lunch': 2,
 'test_preparation_course': 2,
 'math_score': 81,
 'reading_score': 72,
 'writing_score': 77}

In [9]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [10]:
unique_vals_column = {}
for column in df.columns:
    unique_vals_column[column] = df[column].unique()

unique_vals_column

{'gender': array(['female', 'male'], dtype=object),
 'race_ethnicity': array(['group B', 'group C', 'group A', 'group D', 'group E'],
       dtype=object),
 'parental_level_of_education': array(["bachelor's degree", 'some college', "master's degree",
        "associate's degree", 'high school', 'some high school'],
       dtype=object),
 'lunch': array(['standard', 'free/reduced'], dtype=object),
 'test_preparation_course': array(['none', 'completed'], dtype=object),
 'math_score': array([ 72,  69,  90,  47,  76,  71,  88,  40,  64,  38,  58,  65,  78,
         50,  18,  46,  54,  66,  44,  74,  73,  67,  70,  62,  63,  56,
         97,  81,  75,  57,  55,  53,  59,  82,  77,  33,  52,   0,  79,
         39,  45,  60,  61,  41,  49,  30,  80,  42,  27,  43,  68,  85,
         98,  87,  51,  99,  84,  91,  83,  89,  22, 100,  96,  94,  48,
         35,  34,  86,  92,  37,  28,  24,  26,  95,  36,  29,  32,  93,
         19,  23,   8]),
 'reading_score': array([ 72,  90,  95,  57,  78,  83,  43,  64,  60,  54,  52,  81,  53,
         75,  89,  32,  42,  58,  69,  73,  71,  74,  70,  65,  87,  56,
         61,  84,  55,  44,  41,  85,  59,  17,  39,  80,  37,  63,  51,
         49,  26,  68,  45,  47,  86,  34,  79,  66,  67,  91, 100,  76,
         77,  82,  92,  93,  62,  88,  50,  28,  48,  46,  23,  38,  94,
         97,  99,  31,  96,  24,  29,  40]),
 'writing_score': array([ 74,  88,  93,  44,  75,  78,  92,  39,  67,  50,  52,  43,  73,
         70,  58,  86,  28,  46,  61,  63,  53,  80,  72,  55,  65,  38,
         82,  79,  83,  59,  57,  54,  68,  66,  62,  76,  48,  42,  87,
         49,  10,  34,  71,  37,  56,  41,  22,  81,  45,  36,  89,  47,
         90, 100,  64,  98,  51,  40,  84,  69,  33,  60,  85,  91,  77,
         27,  94,  95,  19,  35,  32,  96,  97,  99,  15,  30,  23])}

In [ ]:
# Categorizing into numeric and categorical columns.