In [27]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
import warnings
warnings.filterwarnings('ignore')

In [28]:
df = pd.read_csv('../data/stud.csv')
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [29]:
X = df.drop("math_score", axis=1)
Y= df["math_score"]
num_cols = [feature for feature in X.columns if df[feature].dtype != 'O']
cat_cols = [feature for feature in X.columns if df[feature].dtype == 'O']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

num_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
    ("oneHotEncoder", oh_transformer, cat_cols),
    ("StandardScaler", num_transformer, num_cols),
    ]
)

In [30]:
X = preprocessor.fit_transform(X)
X.shape

(1000, 19)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((800, 19), (200, 19), (800,), (200,))

In [32]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, mse, rmse, r2_square

In [33]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "Random Forest": RandomForestRegressor(),
    "KNN": KNeighborsRegressor(),
    "XGBRegressor": XGBRegressor(),
    "Adaboost Regressor": AdaBoostRegressor(),
    "DecisionTree Regressor": DecisionTreeRegressor()
}
r2_score = {}
for i, j in models.items():
    c = j.fit(X_train, y_train)
    y_pred = c.predict(X_test)
    mae, mse, rmse, r2 = evaluate_model(y_test, y_pred)
    print(f"{i} - MAE: {mae}, MSE: {mse}, RMSE: {rmse}, R2: {r2}")
    r2_score[i] = r2

TypeError: 'dict' object is not callable